*{
  text-align: center;
}
.box{
  display: grid;
  grid-template-columns: auto auto;
  padding:10px;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  grid-gap:50px;
}
.box1{
  /* border: 0.5px solid black; */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
}
